.rangeBlock {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 320px;
}

.start {
    position: absolute;
    left: 15px;
}

.end {
    position: absolute;
    right: 5px;
}

.range {
    width: 250px;
}



